<div class="row">
  <div class="large-5 columns">
    <div class="row">
      <div class="large-3"></div>
      <div class="large-9">
        <div class="panel">
          <p>
            Hey, I'm Zach. I am a software engineer at <a href="https://shiftdsm.com">Shift Interactive</a> with
            deep interests in systems and security.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="large-7 columns">
    <ul class="side-nav inline-list right">
      <li><a href="https://github.com/zach-taylor"><i class="fa fa-github fa-lg"></i></a></li>
      <li><a href="https://www.linkedin.com/pub/zachary-taylor/75/512/22/"><i class="fa fa-linkedin fa-lg"></i></a></li>
      <li><a href="https://keybase.io/ztaylor"><i class="fa fa-key fa-lg"></i></a></li>
      <li><a href="https://stackoverflow.com/users/2412059/zach-taylor"><i class="fa fa-stack-overflow fa-lg"></i></a></li>
      <li><a href="/feed.xml"><i class="fa fa-rss fa-lg"></i></a></li>
    </ul>
    <ul class="side-nav inline-list left">
      <li><a href="/">home</a></li>
      <li><a href="/resume">resume</a></li>
      <li><a href="/blog">blog</a></li>
    </dl>
  </div>
</div>
